<div class="container">
    <table class="table">
        <tr>
            <td>userId</td>
            <td>
                <input type="number" [(ngModel)]="user.userId">
            </td>
        </tr>
        <tr>
            <td>userName</td>
            <td>
                <input type="text" [(ngModel)]="user.userName">
            </td>
        </tr>
        <tr>
            <td>email</td>
            <td>
                <input type="text" [(ngModel)]="user.email">
            </td>
        </tr>
        <tr>
            <td>password</td>
            <td>
                <input type="number" [(ngModel)]="user.password">
            </td>
        </tr>
        <tr>
            <td>roleId</td>
            <td>
                <input type="number" [(ngModel)]="user.roleId">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="addUser()">Add</button>
            </td>
        </tr>

    </table>
</div>
