<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>productID</th>
                <th>productName</th>
                <th>price</th>
                <th>available</th>
                 <th>brandId</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products">
                <td>{{item.productId}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.price}}</td>
                <td>{{item.available}}</td>
                <td>{{item.brandId}}</td>

                
            </tr>
        </tbody>
    </table>
</div>


