<div class="container">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>sellerId</th>
                <th>sellerName</th>
                <th>email</th>
                <th>mobileNum</th>
                <th>roleId</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Seller of seller">
                <td>{{Seller.sellerId}}</td>
                <td>{{Seller.sellerName}}</td>
                <td>{{Seller.email}}</td>
                <td>{{Seller.mobileNum}}</td>
                <td>{{Seller.roleId}}</td>
                <td>
                    
                    <button class="btn btn-primary" (click)="delete(Seller.sellerId)">Delete</button> &nbsp;
                    <button class="btn btn-secondary" (click)="getId(Seller.sellerId)">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


