<div class="container">
    <table class="table">
        <tr>
            <td>SellerId</td>
            <td>
                <input type="number" [(ngModel)]="seller.SellerId">
            </td>
        </tr>
        <tr>
            <td>SellerName</td>
            <td>
                <input type="text" [(ngModel)]="seller.SellerName">
            </td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="text" [(ngModel)]="seller.Email">
            </td>
        </tr>
        <tr>
            <td>MobileNum</td>
            <td>
                <input type="number" [(ngModel)]="seller.MobileNum">
            </td>
        </tr>
        <tr>
            <td>RoleId</td>
            <td>
                <input type="number" [(ngModel)]="seller.RoleId">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="addSeller()">Add</button>
            </td>
        </tr>

    </table>
</div>

