<div class="container">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>availabilityId</th>
                <th>quantity</th>
                <th>product</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Availability of availability">
                <td>{{Availability.availabilityId}}</td>
                <td>{{Availability.quantity}}</td>
                <td>{{Availability.product}}</td>
                <td>
                    
                    <button class="btn btn-secondary" (click)="getId(Availability.availabilityId)">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

